# Работа с PostgreSQL в Python
https://khashtamov.com/ru/postgresql-python-psycopg2/

In [1]:
#pip install psycopg2
import psycopg2

Для выполнения запроса к базе, необходимо с ней соединиться и получить курсор:

In [8]:
conn = psycopg2.connect(dbname='postgres', user='python', 
                        password='python', host='localhost')
cursor = conn.cursor()

Через курсор происходит дальнейшее общение в базой.

In [3]:
cursor.execute('SELECT * FROM countries')
records = cursor.fetchall()
records

[('AR', 'Argentina', 2),
 ('AU', 'Australia', 3),
 ('BE', 'Belgium', 1),
 ('BR', 'Brazil', 2),
 ('CA', 'Canada', 2),
 ('CH', 'Switzerland', 1),
 ('CN', 'China', 3),
 ('DE', 'Germany', 1),
 ('DK', 'Denmark', 1),
 ('EG', 'Egypt', 4),
 ('FR', 'France', 1),
 ('HK', 'HongKong', 3),
 ('IL', 'Israel', 4),
 ('IN', 'India', 3),
 ('IT', 'Italy', 1),
 ('JP', 'Japan', 3),
 ('KW', 'Kuwait', 4),
 ('MX', 'Mexico', 2),
 ('NG', 'Nigeria', 4),
 ('NL', 'Netherlands', 1),
 ('SG', 'Singapore', 3),
 ('UK', 'United Kingdom', 1),
 ('US', 'United States of America', 2),
 ('ZM', 'Zambia', 4),
 ('ZW', 'Zimbabwe', 4)]

После выполнения запроса, получить результат можно несколькими способами:

cursor.fetchone() — возвращает 1 строку

cursor.fetchall() — возвращает список всех строк

cursor.fetchmany(size=5) — возвращает заданное количество строк

Также курсор является итерируемым объектом, поэтому можно так:

In [4]:
cursor.execute('SELECT * FROM jobs')
for row in cursor:
    print(row)

(1, 'Public Accountant', Decimal('4200.00'), Decimal('9000.00'))
(2, 'Accounting Manager', Decimal('8200.00'), Decimal('16000.00'))
(3, 'Administration Assistant', Decimal('3000.00'), Decimal('6000.00'))
(4, 'President', Decimal('20000.00'), Decimal('40000.00'))
(5, 'Administration Vice President', Decimal('15000.00'), Decimal('30000.00'))
(6, 'Accountant', Decimal('4200.00'), Decimal('9000.00'))
(7, 'Finance Manager', Decimal('8200.00'), Decimal('16000.00'))
(8, 'Human Resources Representative', Decimal('4000.00'), Decimal('9000.00'))
(9, 'Programmer', Decimal('4000.00'), Decimal('10000.00'))
(10, 'Marketing Manager', Decimal('9000.00'), Decimal('15000.00'))
(11, 'Marketing Representative', Decimal('4000.00'), Decimal('9000.00'))
(12, 'Public Relations Representative', Decimal('4500.00'), Decimal('10500.00'))
(13, 'Purchasing Clerk', Decimal('2500.00'), Decimal('5500.00'))
(14, 'Purchasing Manager', Decimal('8000.00'), Decimal('15000.00'))
(15, 'Sales Manager', Decimal('10000.00'), Decimal('20000.00'))
(16, 'Sales Representative', Decimal('6000.00'), Decimal('12000.00'))
(17, 'Shipping Clerk', Decimal('2500.00'), Decimal('5500.00'))
(18, 'Stock Clerk', Decimal('2000.00'), Decimal('5000.00'))
(19, 'Stock Manager', Decimal('5500.00'), Decimal('8500.00'))

Метод execute вторым аргументом принимает коллекцию (кортеж, список и т.д.) или словарь. При формировании запроса необходимо помнить, что:

Плейсхолдеры в строке запроса должны быть %s, даже если тип передаваемого значения отличается от строки, всю работу берёт на себя psycopg2.

Не нужно обрамлять строки в одинарные кавычки.

Если в запросе присутствует знак %, то его необходимо писать как %%.

In [10]:
cursor.execute("""CREATE TABLE test (param_id SERIAL PRIMARY KEY, param_name CHARACTER VARYING (25)
);""")

In [11]:
cursor.close()
conn.close()